:root {
	--sym-width: 5rem;
	--sym-height: 3rem;
	--rows: 6;
	--cols: 4;
	--sym-long-width: calc((var(--sym-width) ) * var(--cols));
	--sym-long-height: calc((var(--sym-height) ) * var(--rows));
}

* {
	user-select: none;
}

body {
	background-color: #6c6c6c;
}

header {
	text-align: center;
	font-size: 2rem;
}

button {
	font-family: 'Fira Code', monospace;
	font-size: larger;
	border: none;
}

li {
	list-style-type: none;
}

.calculator {
	display: flex;
	flex-wrap: wrap;
	width: var(--sym-long-width);
	height: var(--sym-long-height);
	justify-content: space-around;
	margin: auto;
}

.input-expr {
	width: var(--sym-long-width);
	height: var(--sym-height);
	text-align: end;
	background-color: #eee;
}

.number-field, .operator-field, .delete-field, .reset-field, .save-field, .clear-field, .equals-field {
	width: var(--sym-width);
	height: var(--sym-height);
}

.number-field {
	background-color: #c0c0c0;
}

.operator-field {
	color: #0000f7;
	background-color: grey;
}

.reset-field, .save-field, .clear-field, .delete-field, .equals-field {
	color: #f40;
	background-color: #cdcdcd;
}

.memory {
	display: flex;
	flex-wrap: wrap;
	width: var(--sym-long-width);
	height: var(--sym-long-height);
	overflow-y: auto;
	margin: auto;
}
.memory-field {
	width: calc(var(--sym-long-width) - var(--sym-width));
	height: var(--sym-height);
	text-align: center;
	margin: 0.5rem;
	background-color: #ddd;
}

.memory-field:hover {
	transform: scale(1.1);
}