:root {
	--sym-width: 5rem;
	--sym-height: 3rem;
	--rows: 6;
	--cols: 4;
	--sym-long-width: calc((var(--sym-width) + 1rem ) * var(--cols));
	--sym-long-height: calc((var(--sym-height) + 1rem) * var(--rows));
}

* {
	user-select: none;
}

body {
	background: rgb(123,232,233);
	background: linear-gradient(90deg, rgba(123,232,233,1) 0%, rgba(86,240,247,0.4617996856945903) 47%, rgba(123,232,233,1) 100%);
}

header {
	text-align: center;
	font-size: 2rem;
}

button {
	font-family: 'Fira Code', monospace;
}

.calculator {
	display: flex;
	flex-wrap: wrap;
	width: var(--sym-long-width);
	height: var(--sym-long-height);
	justify-content: space-around;
	margin: auto;
}

.input-expr {
	width: inherit;
	height: var(--sym-height);
	text-align: end;
}

.symbol-field {
	width: var(--sym-width);
	height: var(--sym-height);
}

li {
	list-style-type: none;
}

.memory {
	display: flex;
	flex-wrap: wrap;
	width: var(--sym-long-width);
	height: calc(100vh - 1.5 * var(--sym-long-height));
	overflow-y: auto;
	margin: auto;
}
.memory div button {
	width: calc(var(--sym-long-width) - var(--sym-width));
	height: var(--sym-height);
	text-align: center;
	margin: 0.5rem;
}

.warning {
	/* visibility: hidden; */
	position: absolute;
	left: 44%;
}